#container {
    background-color: rgb(243, 249, 254);
    justify-content: space-around;
    text-align: center;
    width: 800px;
    height: 810px;
    padding: 20px;
    align-items: center;
    display: inline-flexbox;
}

#top {
    background-color: rgb(93, 197, 241);
    justify-content: space-between;
    display: flex;
    height: 230px;
    align-items: center;
    margin-top: 15px;
    padding: 0 20px;
}

#center {
    background-color: rgb(215, 172,175);
    height: 230px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#bottom {
    background-color: white;
    height: 230px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.octocat {
    height: 200px;

}

h1 {
    margin-top: -2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}